.content {
    background-color: var(--BGC);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.contact_header h2 {
    color: var(--TC);
    margin: 20px;
}

.contact_info p {
    font-weight: bold;
    color: var(--TC);
    margin: 20px;
}

.contact_link a {
    margin: 20px;
    color: var(--TC);
    text-decoration: none;
    font-weight: bold;
    display: flex;
}

.contact_link i {
    color: var(--FGC);
    margin-right: 10px;
}