.content {
    position: relative;
    z-index: 1;
}

.project {
    margin: 20px;
    padding: 0;
}

.project_title h3 {
    font-size: 25px;
    color: var(--TC);
    margin: 30px 0 0 30px;
    padding: 0;
}

.project_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45.5%;
    height: 450px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    background-color: var(--BGC);
    border: 2px solid var(--FGC);
}

.card_data {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card_name {
    width: fit-content;
    height: fit-content; 
}

.card_name h3 {
    color: var(--TC);
    margin: 0;
    padding: 0;
}

.card_date {
    width: fit-content;
    height: fit-content;
}

.card_date p {
    font-weight: bold;
    color: var(--FGC);
    margin: 0;
    padding: 0;
}

.card_description {
    margin: 20px;
}

.card_description h3 {
    color: var(--FGC);
    margin: 5px 15px 5px 10px;
    padding: 0;
}

.card_description p {
    color: var(--TC);
    margin: 15px 15px 5px 15px;
    padding: 0;
    width: auto;
}

.project_image {
    margin: 0 20px 0 30px;
}

.project_image h3 {
    color: var(--FGC);
    margin: 5px 15px 5px 10px;
    padding: 0;
}

.project_image img {
    width: 200px;
    border-radius: 30px;
    padding: 5px;
    flex-wrap: wrap;
    transition: 0.5s ease-in-out;
}

.card_link {
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    height: fit-content;

}

.card_link a {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 20px;
    border-radius: 7px;
    color: var(--FGC);
    transition: 0.3s ease-in-out;
}

.card_link p {
    font-weight: bold;
    height: 20px;
}

.card_link i {
    color: var(--FGC);
}

@media (max-width: 426px) {
    .card {
        margin: 20px 0;
        width: 90%;
        height: auto;
    }

    .project_image img {
        width: 100%;
    }

    .card_data {
        flex-direction: column;
    }

    .card_name, .card_date {
        width: 100%;
        text-align: center;
    }

    .card_description p {
        width: 100%;
    }
}

@media (max-width: 896px) and (min-width: 427px) {
    .card {
        width: 90%;
        height: auto;
    }

    .project_image img {
        width: 180px;
    }

    .card_data {
        flex-direction: column;
    }

    .card_name, .card_date {
        width: 100%;
        text-align: center;
    }

    .card_description p {
        width: 100%;
    }
}

@media (max-width: 1280px) and (min-width: 897px) {
    .card {
        width: 40%;
        height: fit-content;
    }

    .project_image img {
        width: 150px;
    }

    .card_data {
        flex-direction: column;
    }

    .card_name, .card_date {
        width: 100%;
        text-align: center;
    }

    .card_description p {
        width: 100%;
    }
}


@media (max-width: 1920px) and (min-width: 1281px) {
    .card {
        width: 45%;
        height: fit-content;
    }

    .card_data {
        flex-direction: column;
    }

    .card_name, .card_date {
        width: 100%;
        text-align: center;
    }

    .card_description p {
        width: 100%;
    }
}