.content {
    position: relative;
    z-index: 1;
}

.project {
    margin: 20px;
    padding: 0;
}

.project_title h3 {
    font-size: 25px;
    color: var(--TC);
    margin: 30px 0 0 30px;
    padding: 0;
}

.project_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 45.5%;
    /* height: 450px; */
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    background-color: var(--BGC);
}

.card_data {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card_name {
    width: fit-content;
    height: fit-content; 
}

.card_name h3 {
    color: var(--TC);
    margin: 0;
    padding: 0;
}

.card_date {
    width: fit-content;
    height: fit-content;
}

.card_date p {
    font-weight: bold;
    color: var(--FGC);
    margin: 0;
    padding: 0;
}

.card_description {
    margin: 20px;
}

.card_description h3 {
    color: var(--FGC);
    margin: 5px 15px 5px 10px;
    padding: 0;
}

.card_description p {
    color: var(--TC);
    margin: 15px 15px 5px 15px;
    padding: 0;
    width: auto;
}

.project_image {
    margin: 0 20px 0 30px;
}

.project_image h3 {
    color: var(--FGC);
    margin: 5px 15px 5px 10px;
    padding: 0;
}

.project_image img {
    width: 200px;
    border-radius: 30px;
    padding: 5px;
    flex-wrap: wrap;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.project_image img:active {
    display: flex;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: scale(3.5);
    transition: 0.5s ease-in-out;
}

.card_link {
    display: flex;
}

.card_link a {
    color: var(--FGC);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
    gap: 20px;
    width: 30px;
    height: 35px;
    overflow: hidden;
    padding: 5px;
    border-radius: 7px;
    transition: 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.card_link a p {
    width: 200px;
}

.card_link i {
    color: var(--FGC);
}

.card_link a:hover {
    background-color: black;
    padding: 5px 100px 5px 5px;
}