:root {
    --BGC: #0b0f14;
    --CC: #11171d;
    --TC: #0fe1fd;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    background-color: var(--BGC);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--TC);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
}

.header {
    height: fit-content;
    margin: 0;
    padding: 0 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}

.header_name {
    text-decoration: none;
    color: var(--TC);
}

.header_links {
    display: flex;
    gap: 20px;
}

.header_links_a {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s;
    color: #7b8c9d;
}

.header_links_a:hover {
    color: var(--TC);
}

.content {
    display: grid;
    grid-template-rows: auto auto auto;
}

.welcome {
    height: 100vh;
    transform: translateY(-15%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeMainText {
    text-align: center;
    color: var(--TC);
}

.name {
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: var(--TC);
}

.title {
    margin: 0;
    font-size: 50px;
    text-align: center;
    color: #7b8c9d;
}

.welcomeSubText {
    width: 60%;
    text-align: center;
    font-size: 20px;
    color: #7b8c9d;
}

.btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.welcomeBtn {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: var(--BGC);
    background-color: var(--TC);
}

.about,
.projects,
.skills {
    padding: 80px 50px;
}

.aboutHeader,
.projectsHeader,
.skillsHeader {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.aboutHeader hr,
.projectsHeader hr,
.skillsHeader hr {
    width: 100%;
    border: 1px solid #7b8c9d36;

}

.aboutTitle,
.projectsTitle,
.skillsTitle {
    width: fit-content;
    margin: 0;
    text-wrap: nowrap;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.aboutTitle span,
.projectsTitle span,
.skillsTitle span {
    font-size: 15px;
    font-weight: bold;
    color: var(--TC);
}

.aboutText {
    font-size: 20px;
    color: #7b8c9d;
}

.aboutText span {
    font-size: 20px;
    color: var(--TC);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}

.card {
    min-width: 300px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid #7b8c9d36;
    border-radius: 15px;
    gap: 15px;
    transition: all 0.3s;
    background-color: var(--CC);
}

.card:hover {
    box-shadow: 0px 0px 30px #0fe1fd3a;
    transform: translateY(-10px);
    transition: all 0.3s;
}

.cardImage {
    width: 100%;
    height: 180px;
    position: relative;
    display: block;
    object-fit: cover;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #143d46;
    transition: all 0.5s;
}

.cardLink {
    width: 100%;
    height: 180px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    backdrop-filter: blur(7px);
    transition: all 0.5s;
}

.cardLink img {
    width: 30px;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s;
}

.cardLink img:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    background-color: var(--TC);
}

.cardContent {
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardContent h2 {
    margin: 0px 10px;
    color: #fff;
}

.cardContent p {
    margin: 0px 10px;
    color: #7b8c9d;
}

.usedSkill {
    margin: 5px 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.usedSkill span {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: var(--TC);
    background-color: #143d46;
}

.skillsContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.skill {
    width: 150px;
    height: 100px;
    padding: 20px;
    border: 0.5px solid #7b8c9d36;
    border-radius: 15px;
    text-align: center;
    background-color: var(--CC);
    transition: all 0.3s;
}

.skill:hover {
    border: 0.5px solid var(--TC);
    transition: all 0.3s;
}

.skill img {
    width: 50px;
    transition: all 0.3s;
}

.skill p {
    color: #7b8c9d;
}

.footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--CC);
    color: #7b8c9d;
}

.footer p {
    margin: 0;
}

.link {
    display: flex;
    flex-direction: row;
    gap: 60px;
    text-decoration: none;
}

.link img {
    filter: invert();
    width: 30px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 0 20px;
        justify-content: space-between;
    }

    .header_links {
        gap: 10px;
    }

    .header_links_a {
        padding: 5px 10px;
        font-size: 16px;
    }

    .welcome {
        height: auto;
        transform: translateY(0%);
        padding: 100px 20px;
    }

    .name {
        font-size: 40px;
    }

    .title {
        font-size: 28px;
    }

    .welcomeSubText {
        width: 100%;
        font-size: 16px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .cardImage,
    .cardLink {
        height: 220px;
    }

    .skillsContainer {
        justify-content: center;
    }

    .skill {
        width: calc(50% - 20px);
    }

    .link {
        gap: 30px;
    }
}